@{
    ViewData["Title"] = "Michael Gonzalez";
}
<h1>@ViewData["Title"]</h1>
<button type="button">Reserve a seat</button>
<img src="https://avatars.githubusercontent.com/u/53124117?v=4" alt="Michael" />