@{
    ViewData["Title"] = "Sessions";
}
<h1>@ViewData["Title"]</h1>

<p>Below is a list of sessions.</p>

<table class="table table-danger table-border border border-success">
    <tr>
        <th>Speaker</th>
        <th>Subject</th>
        <th>Date</th>
        <th>See Details</th>
    </tr>

    <tr>
        <td>Michael Gonzalez</td>
        <td>How to code in C#</td>
        <td>Today</td>
        <td><a href="https://michaeljgonzalez.github.io/MichaelGonzalez/">Details</a></td> 
    </tr>

    <tr>
        <td>Jordan Waite</td>
        <td>How to fly an aircraft</td>
        <td>Monday September 26, 2022</td>
        <td><a href="https://jordanwaite.us/">Details</a></td>
    </tr>

    <tr>
        <td>Steven Ha</td>
        <td>How to cook vietnamese food</td>
        <td>Tuesday September 27, 2022</td>
        <td><a href="https://sstevenhaa.github.io/StevenHa/">Details</a></td>
    </tr>

    <tr>
        <td>Trevon Noble</td>
        <td>How to lift</td>
        <td>Wednesday September 28, 2022</td>
        <td><a href="https://www.linkedin.com/in/trevonnoble/">Details</a></td>
    </tr>

    <tr>
        <td>Rabin Rhaju</td>
        <td>How to be an engineer</td>
        <td>Thursday September 29, 2022</td>
        <td><a href="https://www.linkedin.com/in/rabinghaju/">Details</a></td>
    </tr>

    <tr>
        <td>W Clay Leimgruber</td>
        <td>Learning how to code</td>
        <td>Friday September 30, 2022</td>
        <td><a href="https://www.linkedin.com/in/w-clayton-leimgruber/">Details</a></td>
    </tr>

</table> 